<footer>
   <div class="f-info">
    <div class="f-info-socials">
        <a href="https://www.facebook.com/sahil.brar.374"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/sahil_brar_111/"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/sahilbrar/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; TravelNest Privated Limited</div>
    <div class="f-info-brand"><b>Developed by Mahak</b></div>
    <div class="f-info-links">
        <a href="/termsPrivacy">Terms & Privacy</a>
    </div>
   </div> 
</footer>
